src/main/app/my-sample-project-munit-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="EE-3.5.1"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

 
  <vm:endpoint name="requestInventory" path="inventory.request" exchange-pattern="request-response"/>
  <vm:endpoint name="updateInventory" path="inventory.update" exchange-pattern="one-way"/>

  <flow name="requestInventoryFlow" doc:name="requestInventory-Flow">
	
     <inbound-endpoint ref="requestInventory"/>
     <logger level="INFO" category="RequestInventoryFlow" message="Request payload: #[payload]"/>
     <set-session-variable variableName="Id" value="#[groovy:message.getInboundProperty('Id') ?: '']" doc:name="Session_Variable"/>
     <http:outbound-endpoint host="${service.host}" port="${service.port}" path="inventory" method="GET"/>
     <logger level="INFO" category="RequestInventoryFlow" message="Response payload: #[payload]"/>
 
     <choice-exception-strategy name="defaultChoiceExceptionStrategy">
        <catch-exception-strategy when="#[exception.causedBy(java.lang.Exception)]" doc:name="Catch Exception Strategy">
            <logger level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
	    <json:object-to-json-transformer doc:name="Object_to_JSON"/>			
		<http:response-builder contentType="application/json;charset=utf-8" status="#[groovy:message.getOutboundProperty('http.status') ?: 200]" doc:name="HTTPResponseBuilder"/>
     </choice-exception-strategy>

  </flow>

  <flow name="UpdateInventoryFlow" doc:name="UpdateInventory-Flow">
    <inbound-endpoint ref="updateInventory"/>
    <logger level="INFO" category="UpdateInventoryFlow" message="Request payload: #[payload]"/>
    <set-property propertyName="updatedBy" value="John Doe"/>
    <mulexml:object-to-xml-transformer/>
    <http:outbound-endpoint host="${service.host}" port="${service.port}" path="nventory" method="PUT"
          contentType="application/xml"/>
    <logger level="INFO" category="UpdateInventoryFlow" message="Response payload: #[payload]"/>
  </flow>

</mule>
